fastapi>=0.111
uvicorn[standard]>=0.23
python-multipart>=0.0.6
python-jose[cryptography]>=3.3
passlib[bcrypt]>=1.7
bcrypt>=4.1.2
pydantic>=1.10
pydantic-settings>=2.2
pydantic[email]>=1.10
pydantic-settings>=2.2

# pipeline dependencies
pandas>=1.5
numpy>=1.23
scikit-learn>=1.2
yfinance>=0.2
